@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica-Font/Helvetica.ttf);
}

@font-face {
    font-family: Futura;
    src: url(../fonts/futura/futura\ medium\ bt.ttf);
    font-weight: bold;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

header{
    background: linear-gradient(#396afc, #2948ff);
}

header nav{
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    margin: 0;
    text-transform: uppercase;
}

header nav h1 a{
    text-decoration: none;
    color: #ffffff;;
}

header nav .right{
    display: flex;
    align-items: center;
}

header nav .right p{
    margin: 0 15px 0 0;
}

header nav .right p a{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0px;
    transition: letter-spacing 0.3s, color 0.3s;
}

header nav .right p a:hover{
    letter-spacing: 1px;
    color: #cccccc;
}

header nav .right button{
    color: #ffffff;
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

header nav .right button:hover{
    color: #2948ff;
    background-color: #ffffff;
}

.acheter-links{
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.acheter-links button{
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.acheter-links button:hover{
    box-shadow: 2px 1px 5px gray;
}

.welcome-content{
    position: absolute;
    width: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

.welcome-content p{
    margin: 0;
    font-size: 4vw;
    width: 80%;
    color: #ffffff;
}

.welcome-content b{
    font-size: 29px;
    color: #2948ff;
}

.img-accueil{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.infos{
    color: #2948ff;
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos .infos-description{
    width: 100%;
    flex-shrink: 3;
}

.infos .infos-description h1{
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.infos .infos-description p{
    font-weight: 300;
    color: #000000;
}

.infos .infos-description button{
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.infos .infos-description button:hover{
    box-shadow: 2px 5px 5px gray;
}

.infos .img-infos img{
    width: 100%;
}

.infos{
    margin: 0;
}

.presentation-biens{
    padding: 30px 5%;
    margin-top: 5%;
    color: #000000;
}

.presentation-biens h1{
    color: #2948ff;
    margin: 0;
    padding-bottom: 30px;
    font-size: 4vw;
    text-align: center;
    width: 100%;
}

.presentation-biens .img-biens{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation-biens .img-biens img{
    opacity: 1;
    display:inline-block;
    width: 25%;    
    transition: 0.3s;
    cursor: pointer;
    transform: scale(1);
}

.presentation-biens .img-biens img:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.liens-biens{
    color: #000000;
}

.liens-biens .biens{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.liens-biens .biens .biens-description h1{
    color: #2948ff;
    margin: 0;
    font-size: 3vw;
    width: 100%;
}
.liens-biens .biens .biens-description p{
    width: 75%;
}

.liens-biens .biens .biens-description button{
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.liens-biens .biens .biens-description button:hover{
    box-shadow: 2px 5px 5px gray;
}

.liens-biens .biens .biens-img img{
    cursor: pointer;
    width: 75%;
    transform: scale(1);
    transition: 0.3s;
}

.liens-biens .biens .biens-img img:hover{
    opacity: 0.5;
    transform: scale(1.1);
}

.content-biens{
    padding: 30px 5%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-biens .presentation-biens h1{
    color: #2948ff;
    margin: 0;
    font-size: 3vw;
    width: 100%;
}

.others-biens-img{
    padding: 30px 5%;
    text-align: right;
}

.others-biens-img img{
    
    margin: 8px;
    display: inline-block;
    width: 10%;
    transform: scale(1);
    transition: 0.3s;
}

.others-biens-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.others-biens-img img:nth-child(1){
    display: none;
}

.contact-section{
    color: #000000;
    padding: 40px 0;
}

.contact-section h1{
    color: #2948ff;
    margin: 0;
    padding-bottom: 30px;
    font-size: 4vw;
    text-align: center;
    width: 100%;
}

.contact-section .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
}

.contact-section .contact-form .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: #f3f3f3;
    padding: 20px 40px;
    outline: none;
    transition: 0.3s;
}

.contact-section .contact-form textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-section .contact-form .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #cccccc;
}

.contact-section .contact-form .contact-form-btn{
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.contact-section .contact-form .contact-form-btn:hover{
    box-shadow: 2px 5px 5px gray;
}

footer{
    position: sticky;
    top: 100%;
    margin: 0;
    padding: 20px;
    background: linear-gradient(#396afc, #2948ff);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3{
    text-decoration: underline;
}

footer p{
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 0px;
    transition: letter-spacing 0.3s, color 0.3s;
}

footer p:hover{
    color: #cccccc;
    letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
    header nav .right p:nth-child(2){
        display: none;
    }

    header nav .right p:nth-child(3){
        display: none;
    }

    .welcome-content{
        height: 200px;
    }

    .welcome-content p{
        font-size: 23px;
    }

    .welcome-content b{
        font-size: 14px;
    }

    .img-accueil{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }

    .infos .infos-description h1{
        font-size: 2em;
    }

    .infos .img-infos{
        display: none;
    }

    .presentation-biens h1{
        font-size: 2em;
    }

    .presentation-biens .img-biens{
        display: inline-block;
    }

    .presentation-biens .img-biens img{        
        margin: 0;
        padding: 10px 0 10px 0;
        width: 100%;
    }
    
    .presentation-biens .img-biens img:hover{
        transform: scale(1.05);
    }

    .liens-biens .biens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .liens-biens .biens .biens-description h1{
        font-size: 2em;
    }

    .liens-biens .biens .biens-img img{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .liens-biens .biens .biens-description p{
        display: none;
    }

    .liens-biens .biens .biens-description button{
        display: none;
    }
    
    .content-biens{
        display: inline-block;
    }

    .content-biens .presentation-biens h1{
        font-size: 2em;
    }

    .content-biens .img-biens img{
        display: none;
    }
    
    .others-biens-img{
        padding: 30px 5%;
        text-align: center;
    }

    .others-biens-img img:nth-child(1){
        display: inline-block;
    }
    
    .others-biens-img img{
        width: 75%;
    }
    
    .others-biens-img img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .contact-section h1{
        font-size: 2em;
    }

    footer{
        text-align: center;
    }

    footer .column{
        width: 80%;
    }
}